<div id="wrapper">
    <div id="header">
        <a class="btn btn-dashboard" routerLink="/restview" skipLocationChange="true" routerLinkActive="active">Dash</a>
        <a class="btn btn-live" routerLink="/socketview" skipLocationChange="true" routerLinkActive="active">Live</a>
        <a class="btn btn-devicesview" routerLink="/devicesview" skipLocationChange="true" routerLinkActive="active">Devices</a>
        <div style="clear:both;"></div>
    </div>
    <div id="container">
        <router-outlet></router-outlet>
    </div>
    <div id="appversion">Version: <strong>{{version}}</strong></div>
</div>
