<hr>
<div id="deviceviewcontainer">
    <div class="dashboardheader">
        <div class="alert alert-success" role="alert">
            <h2 
                (mousedown)="reloadEvent($event)" 
                (touchstart)="reloadEvent($event)"                 
                (touchmove)="touchMoveEvent($event)" 
                style="cursor: pointer;">
                <span id="loading" [innerHTML]="loadingarea"></span>
                {{tstamp}}
            </h2>
        </div>

    </div>
    <div>
        <div *ngFor="let categorie of deviceviewboard">
            <div [ngClass]="device.active ? 'xactive' : ''" class="xdeviceviewdevice xdeviceviewdevice{{device.typeDevice}}" *ngFor="let device of categorie.devices">
                <span style="font-weight:bold;display:block;">{{device.displayNameDevice}}</span>
                <span style="display:block;">{{device.nameCategory}}</span>
            </div>
        </div>
    </div>
</div>
